# Ignore everything
*

# Allow only specific folders and files
!code/
!configurations/
!LICENSE
!Makefile
!README.md

# Ignore everything inside 'code' and 'configurations' except their contents
code/*
configurations/*

# Allow all files inside 'code' and 'configurations'
!code/**/*
!configurations/**/*